body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-family: sans-serif;
}

.board {
    width: 350px;
    height: 350px;
    border: 2px solid black;
    margin: auto;
    overflow: hidden;
    text-align: center;
}

.tile {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    position: relative;
    display: inline-block;
    margin: 4px;
}

.husky {
    background-color: gold;
    background-size: 100px 100px;
}

.coug {
    background-color: darkred;
    background-size: 100px 100px;
}